## Guided Project: Winning Jeopardy

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [115]:
# make screen wider
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [116]:
# read in csv
jeopardy = pd.read_csv("jeopardy.csv")
print(jeopardy.head())
jeopardy.head()

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [117]:
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"In the title of an Aesop fable, this insect sh...",the ant
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,Built in 312 B.C. to link Rome & the South of ...,the Appian Way
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"No. 8: 30 steals for the Birmingham Barons; 2,...",Michael Jordan
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"In the winter of 1971-72, a record 1,122 inche...",Washington
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,This housewares store was named for the packag...,Crate & Barrel
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""And away we go""",Jackie Gleason
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,Cows regurgitate this from the first stomach t...,the cud
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,In 1000 Rajaraja I of the Cholas battled to ta...,Ceylon (or Sri Lanka)
13,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"No. 1: Lettered in hoops, football & lacrosse ...",Jim Brown
14,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"On June 28, 1994 the nat'l weather service beg...",the UV index
15,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$600,"This company's Accutron watch, introduced in 1...",Bulova
16,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$600,"Outlaw: ""Murdered by a traitor and a coward wh...",Jesse James
17,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$600,"A small demon, or a mischievous child (who mig...",imp
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,Karl led the first of these Marxist organizati...,the International
19,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,No. 10: FB/LB for Columbia U. in the 1920s; MV...,(Lou) Gehrig
20,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$800,Africa's lowest temperature was 11 degrees bel...,Morocco
21,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$800,Edward Teller & this man partnered in 1898 to ...,(Paul) Bonwit
22,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,"$2,000","1939 Oscar winner: ""...you are a credit to you...",Hattie McDaniel (for her role in Gone with the...
23,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$800,"In geologic time one of these, shorter than an...",era
24,4680,2004-12-31,Jeopardy!,HISTORY,$1000,This Asian political party was founded in 1885...,the Congress Party
25,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$1000,No. 5: Only center to lead the NBA in assists;...,(Wilt) Chamberlain
26,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$1000,"The Kirschner brothers, Don & Bill, named this...",K2
27,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$1000,"Revolutionary War hero: ""His spirit is in Verm...",Ethan Allen
28,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$1000,"A single layer of paper, or to perform one's c...",ply
29,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-1...",Horton
...,...,...,...,...,...,...,...
19969,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,$1200,In 1960 the last of these locomotives was reti...,steam engines
19970,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",$1200,"Kate: ""if I be waspish, best beware my sting"";...",Petruchio
19971,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,"$1,500",This private college in Northern California bo...,Stanford University
19972,5694,2009-05-14,Double Jeopardy!,ACTRESSES,$1200,"She voiced Princess Pea in ""The Tale of Desper...",Emma Watson
19973,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,$1200,It's the name of the long-awaited new White Ho...,Bo
19974,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,$1200,"Langdon in ""Angels & Demons"" is looking for <a...",an antimatter bomb
19975,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,$1600,In the 1600s most of New York State was occupi...,the Iroquois
19976,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",$1600,Marina's dad (need a hint? he rules Tyre),Pericles
19977,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,$1600,Presidential kids are welcome at this New Orle...,Tulane
19978,5694,2009-05-14,Double Jeopardy!,ACTRESSES,$1600,She didn't vamp it up & did a bella job as Em ...,Kristen Stewart
19979,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,$1600,Third syllable intoned by the giant who smells...,fo
19980,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,$1600,"Much of ""Angels & Demons"" takes place at one o...",a conclave
19981,5694,2009-05-14,Double Jeopardy!,AMERICAN HISTORY,"$1,200",In 1899 Secretary of State John Hay proclaimed...,open-door policy
19982,5694,2009-05-14,Double Jeopardy!,"MIND YOUR SHAKESPEARE ""P""s & ""Q""s",$2000,"Fruity surname of Peter in ""A Midsummer Night'...",Quince
19983,5694,2009-05-14,Double Jeopardy!,ALMA MATERS,$2000,"Quincy Jones, Kevin Eubanks & Branford Marsali...",Berklee
19984,5694,2009-05-14,Double Jeopardy!,ACTRESSES,$2000,"In 2009 she returned to being ""Fast & Furious""...",Michelle Rodriguez
19985,5694,2009-05-14,Double Jeopardy!,2-LETTER WORDS,$2000,"The book of Genesis says this ancient city ""of...",Ur
19986,5694,2009-05-14,Double Jeopardy!,ANGELS & DEMONS,$2000,"""Habakkuk and the Angel"" is one of a series of...",Bernini
19987,5694,2009-05-14,Final Jeopardy!,SCIENCE TERMS,None,"In medieval England, it meant the smallest uni...",atom
19988,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,$100,This Texas city is the largest in the U.S. to ...,Houston (Lee Brown)
19989,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,$100,...& the Crickets,Buddy Holly
19990,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,$100,In the 990s this son of Erik the Red brought C...,Leif Ericson
19991,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,$100,"Concerning a failed Windows 98 demonstration, ...",Bill Gates
19992,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,$100,"This llama product is used to make hats, blank...",Wool
19993,3582,2000-03-14,Jeopardy!,DING DONG,$100,In 1967 this company introduced its chocolate-...,Hostess
19994,3582,2000-03-14,Jeopardy!,U.S. GEOGRAPHY,$200,"Of 8, 12 or 18, the number of U.S. states that...",18
19995,3582,2000-03-14,Jeopardy!,POP MUSIC PAIRINGS,$200,...& the New Power Generation,Prince
19996,3582,2000-03-14,Jeopardy!,HISTORIC PEOPLE,$200,In 1589 he was appointed professor of mathemat...,Galileo
19997,3582,2000-03-14,Jeopardy!,1998 QUOTATIONS,$200,"Before the grand jury she said, ""I'm really so...",Monica Lewinsky
19998,3582,2000-03-14,Jeopardy!,LLAMA-RAMA,$200,Llamas are the heftiest South American members...,Camels

In [118]:
# print out the columns of the data set
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [119]:
# remove blank spaces in the column names
jeopardy.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question', 'Answer']
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

Write a function that normalizes questions and answers columns.  It should:
* take in a string 
* covert string to lower case
* remove all punctuation in the string
* return the string

In [120]:
import re

def normalize_text(text):
    text = text.lower()
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    text = re.sub("\s+", " ", text)
    return text
        
def normalize_values(text):
    text = re.sub("[^A-Za-z0-9\s]", "", text)
    try:
        text = int(text)
    except Exception:
        text = 0
    return text

In [121]:
# use the functions to clean the columns
jeopardy["clean_question"] = jeopardy["Question"].apply(normalize_text)
jeopardy["clean_answer"] = jeopardy["Answer"].apply(normalize_text)

In [122]:
# use the function to clean the value column
jeopardy["clean_value"] = jeopardy["Value"].apply(normalize_values)

In [123]:
jeopardy['clean_value'].value_counts()

400      3892
800      2980
200      2784
1000     1980
600      1890
2000     1223
1200     1111
1600     1046
100       804
500       798
300       764
0         336
3000       70
1500       50
4000       32
5000       23
1800       22
1400       20
2500       18
700        15
2200       11
3600        8
2400        8
7000        7
6000        7
900         6
1300        6
3500        6
3200        6
1100        6
         ...
4400        2
4800        2
3800        2
5200        1
1492        1
6800        1
7500        1
1700        1
7400        1
750         1
4700        1
2127        1
3900        1
2300        1
3389        1
1020        1
9000        1
8200        1
6200        1
10800       1
5800        1
5400        1
1111        1
367         1
4500        1
4100        1
2021        1
3300        1
2900        1
6100        1
Name: clean_value, Length: 72, dtype: int64

In [124]:
# use pandas.to_date function to convert Air Date column
jeopardy["Air Date"] = pd.to_datetime(jeopardy["Air Date"])

In [125]:
# check column dtypes
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

In order to figure out whether to study past questions, study general knowledge, or not study it all, it would be helpful to figure out two things:

* How often the answer is deducible from the question.
* How often new questions are repeats of older questions.

You can answer the second question by seeing how often complex words (> 6 characters) reoccur. You can answer the first question by seeing how many times words in the answer also occur in the question. We'll work on the first question now, and come back to the second.

Write a function that takes in a row in jeopardy, as a Series. It should:

* Split the clean_answer column around spaces and assign to the variable split_answer.
* Split the clean_question column around spaces and assign to the variable split_question.
* Create a variable called match_count, and set it to 0.
* If the is in split_answer, remove it using the remove method on lists. The is commonly found in answers and questions, but doesn't have any meaningful use in finding the answer.
* If the length of split_answer is 0, return 0. This prevents a division by zero error later.
* Loop through each item in split_answer, and see if it occurs in split_question. If it does, add 1 to match_count.
* Divide match_count by the length of split_answer, and return the result.
* Count how many times terms in clean_answer occur in clean_question.
* Use the Pandas DataFrame.apply method to apply the function to each row in jeopardy.
* Pass the axis=1 argument to apply the function across each row.
* Assign the result to the answer_in_question column.

In [126]:
def count_matches(row):
    split_answer = row["clean_answer"].split()
    split_question = row["clean_question"].split()
    if "the" in split_answer:
        split_answer.remove("the")
    if len(split_answer) == 0:
        return 0
    match_count = 0
    for item in split_answer:
        if item in split_question:
            match_count += 1
    return match_count / len(split_answer)

jeopardy["answer_in_question"] = jeopardy.apply(count_matches, axis=1)

In [127]:
# check the clean answer column for the
jeopardy['clean_answer'].sample(4)

11994                   john mccain
18431              bonnie and clyde
7619                   joe mccarthy
19327    the six million dollar man
Name: clean_answer, dtype: object

In [128]:
# find the mean percentage of answer_in_question
jeopardy["answer_in_question"].mean()*100

5.900196524977764

### Recycled Questions

On average, the answer only makes up for about 6% of the question. This isn't a huge number, and means that we probably can't just hope that hearing a question will enable us to figure out the answer. We'll probably have to study.

Let's say you want to investigate how often new questions are repeats of older ones. You can't completely answer this, because you only have about 10% of the full Jeopardy question dataset, but you can investigate it at least.

To do this, you can:

* Sort jeopardy in order of ascending air date.
* Maintain a set called terms_used that will be empty initially.
* Iterate through each row of jeopardy.
* Split clean_question into words, remove any word shorter than 6 characters, and check if each word occurs in terms_used.
* If it does, increment a counter.
* Add each word to terms_used.

This will enable you to check if the terms in questions have been used previously or not. Only looking at words with six or more characters enables you to filter out words like the and than, which are commonly used, but don't tell you a lot about a question.

In [129]:
question_overlap = []
terms_used = set()

jeopardy = jeopardy.sort_values("Air Date")

for i, row in jeopardy.iterrows():
        split_question = row["clean_question"].split(" ")
        split_question = [q for q in split_question if len(q) > 5]
        match_count = 0
        for word in split_question:
            if word in terms_used:
                match_count += 1
        for word in split_question:
            terms_used.add(word)
        if len(split_question) > 0:
            match_count /= len(split_question)
        question_overlap.append(match_count)
jeopardy["question_overlap"] = question_overlap

jeopardy["question_overlap"].mean()

0.6876260592169802

### Low value vs high value questions¶
There is about 70% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

Write a function that distinguishes questions above 800 and assigns a value of 1 else 0.

In [130]:
def determine_value(row):
    value = 0
    if row["clean_value"] > 800:
        value = 1
    return value

jeopardy["high_value"] = jeopardy.apply(determine_value, axis=1)

Write the same function as above using Lambda and assign the result to a differnt column

In [131]:
jeopardy['high_value2'] = jeopardy['clean_value'].apply(lambda x: 1 if x > 800 else 0)

In [132]:
# check to see what the result look like in the data frame
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value,answer_in_question,question_overlap,high_value,high_value2
19325,10,1984-09-21,Final Jeopardy!,U.S. PRESIDENTS,None,"Adventurous 26th president, he was 1st to ride...",Theodore Roosevelt,adventurous 26th president he was 1st to ride ...,theodore roosevelt,0,0.000000,0.000000,0,0
19301,10,1984-09-21,Double Jeopardy!,LABOR UNIONS,$200,Notorious labor leader missing since '75,Jimmy Hoffa,notorious labor leader missing since 75,jimmy hoffa,200,0.000000,0.000000,0,0
19302,10,1984-09-21,Double Jeopardy!,1789,$200,"Washington proclaimed Nov. 26, 1789 this first...",Thanksgiving,washington proclaimed nov 26 1789 this first n...,thanksgiving,200,0.000000,0.000000,0,0
19303,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$200,Both Ferde Grofe' & the Colorado River dug thi...,the Grand Canyon,both ferde grofe the colorado river dug this n...,the grand canyon,200,0.000000,0.500000,0,0
19304,10,1984-09-21,Double Jeopardy!,LITERATURE,$200,"Depending on the book, he could be a ""Jones"", ...",Tom,depending on the book he could be a jones a sa...,tom,200,0.000000,0.000000,0,0
19305,10,1984-09-21,Double Jeopardy!,HOMONYMS,$200,Hindu hierarchy or a play's actors,a caste (cast),hindu hierarchy or a plays actors,a caste cast,200,0.333333,0.000000,0,0
19306,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$200,"Last season, this series mourned the loss of S...",Hill Street Blues,last season this series mourned the loss of sg...,hill street blues,200,0.000000,0.000000,0,0
19307,10,1984-09-21,Double Jeopardy!,1789,$400,Why April 28th was a bad day for Capt. Bligh,the day of the mutiny on the Bounty,why april 28th was a bad day for capt bligh,the day of the mutiny on the bounty,400,0.142857,0.000000,0,0
19308,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$400,Seaside resort that has a monopoly on East Coa...,"Atlantic City, New Jersey",seaside resort that has a monopoly on east coa...,atlantic city new jersey,400,0.000000,0.000000,0,0
19309,10,1984-09-21,Double Jeopardy!,LITERATURE,$400,"He wrote ""The 3 Musketeers""; his son wrote ""Ca...",(Alexandre) Dumas,he wrote the 3 musketeers his son wrote camille,alexandre dumas,400,0.000000,0.000000,0,0
19310,10,1984-09-21,Double Jeopardy!,HOMONYMS,$400,Near or a purchase,by (buy),near or a purchase,by buy,400,0.000000,0.000000,0,0
19311,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$400,He went from the Ponderosa to the prairie,Michael Landon,he went from the ponderosa to the prairie,michael landon,400,0.000000,0.000000,0,0
19312,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$600,"Since '27, stars have made good impressions at...",Mann's Chinese Theatre,since 27 stars have made good impressions at t...,manns chinese theatre,600,0.000000,0.000000,0,0
19313,10,1984-09-21,Double Jeopardy!,LITERATURE,$600,Where you can't go again in Thomas Wolfe title,home,where you cant go again in thomas wolfe title,home,600,0.000000,0.000000,0,0
19314,10,1984-09-21,Double Jeopardy!,HOMONYMS,$600,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),a fixed look or ginger rogers partner,a stare astaire,600,0.333333,0.000000,0,0
19315,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$600,"In 1970 he had a ""Goodtime Hour""",Glen Campbell,in 1970 he had a goodtime hour,glen campbell,600,0.000000,0.000000,0,0
19316,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$800,A thrilling destination for tight-rope walkers...,Niagara Falls,a thrilling destination for tightrope walkers ...,niagara falls,800,0.000000,0.000000,0,0
19317,10,1984-09-21,Double Jeopardy!,LITERATURE,$800,Irving's bird-like hero chased by the Headless...,Ichabod Crane,irvings birdlike hero chased by the headless h...,ichabod crane,800,0.000000,0.000000,0,0
19318,10,1984-09-21,Double Jeopardy!,HOMONYMS,"$1,000",Didn't see the fog,missed (mist),didnt see the fog,missed mist,1000,0.000000,0.000000,1,1
19319,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$800,"Jackie Gleason show that rejected titles ""The ...",The Honeymooners,jackie gleason show that rejected titles the l...,the honeymooners,800,0.000000,0.000000,0,0
19320,10,1984-09-21,Double Jeopardy!,1789,$1000,"Now totaling over $1 trillion, it began 11 day...",the national debt,now totaling over 1 trillion it began 11 days ...,the national debt,1000,0.000000,0.000000,1,1
19321,10,1984-09-21,Double Jeopardy!,TOURIST TRAPS,$1000,Tourists know this Catholic mission as Davy Cr...,the Alamo,tourists know this catholic mission as davy cr...,the alamo,1000,0.000000,0.000000,1,1
19322,10,1984-09-21,Double Jeopardy!,LITERATURE,$1000,Shaw's scorched saint,St. Joan of Arc,shaws scorched saint,st joan of arc,1000,0.000000,0.000000,1,1
19323,10,1984-09-21,Double Jeopardy!,HOMONYMS,$1000,Where ships dock or what a jury consists of,piers (peers),where ships dock or what a jury consists of,piers peers,1000,0.000000,0.000000,1,1
19300,10,1984-09-21,Jeopardy!,SPORTS,$500,"Boxer whose life was portrayed in ""Somebody Up...",Rocky Graziano,boxer whose life was portrayed in somebody up ...,rocky graziano,500,0.000000,0.000000,0,0
19324,10,1984-09-21,Double Jeopardy!,TV TRIVIA,$1000,"In court, he'd always make mincemeat of Hamilt...",Perry Mason,in court hed always make mincemeat of hamilton...,perry mason,1000,0.000000,0.000000,1,1
19299,10,1984-09-21,Jeopardy!,"""B"" MOVIES",$500,Sensitive Mart Crowley treatment of gays march...,The Boys in the Band,sensitive mart crowley treatment of gays march...,the boys in the band,500,0.000000,0.000000,0,0
19297,10,1984-09-21,Jeopardy!,"""JACKS"" OF ALL TRADES",$500,"2nd generation pop singer, he's sung on every ...",Jack Jones,2nd generation pop singer hes sung on every lo...,jack jones,500,0.000000,0.000000,0,0
19274,10,1984-09-21,Jeopardy!,GEOGRAPHY,$100,Formerly Formosa,Taiwan,formerly formosa,taiwan,100,0.000000,0.000000,0,0
19275,10,1984-09-21,Jeopardy!,DOUBLE TALK,$100,"Not a Hawaiian cow, but a dress worn by Hawaii...",a muumuu,not a hawaiian cow but a dress worn by hawaiia...,a muumuu,100,0.500000,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,6294,2012-01-19,Double Jeopardy!,4 N,$2000,"Inopportune or untimely, like the title ""woman...",inconvenient,inopportune or untimely like the title woman i...,inconvenient,2000,0.000000,0.333333,1,1
1974,6294,2012-01-19,Final Jeopardy!,SPORTS & THE MOVIES,None,"When asked for a home address in ""The Blues Br...",Wrigley Field,when asked for a home address in the blues bro...,wrigley field,0,0.000000,1.000000,0,0
1959,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$1200,"Relative to the size of the bird, this flightl...",the kiwi,relative to the size of the bird this flightle...,the kiwi,1200,0.000000,1.000000,1,1
1958,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$1200,"Today, this Japanese car company makes the gal...",Mitsubishi,today this japanese car company makes the gala...,mitsubishi,1200,0.000000,0.800000,1,1
1957,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$1200,A New York steak is also known as this alliter...,strip steak,a new york steak is also known as this alliter...,strip steak,1200,0.500000,1.000000,1,1
1956,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,"$1,800",This political party founded around 1789 stood...,the Federalists,this political party founded around 1789 stood...,the federalists,1800,0.000000,1.000000,1,1
1934,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$800,In 1851 this company started using a logo with...,Proctor & Gamble,in 1851 this company started using a logo with...,proctor gamble,800,0.000000,1.000000,0,0
1935,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$800,"While ""January brings the snow"", ""may brings f...",lambs,while january brings the snow may brings flock...,lambs,800,0.000000,0.571429,0,0
1936,6294,2012-01-19,Jeopardy!,INLETS,$800,"This Chilean city whose name means ""valley of ...",Valparaiso,this chilean city whose name means valley of p...,valparaiso,800,0.000000,1.000000,0,0
1937,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$800,"In the '90s it was ""Enter Sandman"" with this g...",Metallica,in the 90s it was enter sandman with this group,metallica,800,0.000000,1.000000,0,0
1938,6294,2012-01-19,Jeopardy!,FOREIGN,$800,Tredici is Italian for this symbol of bad luck,thirteen,tredici is italian for this symbol of bad luck,thirteen,800,0.000000,0.666667,0,0
1939,6294,2012-01-19,Jeopardy!,"A SHAKESPEARE PLAY, FOR OPENERS",$1000,This play opens most dramatically with thunder...,The Tempest,this play opens most dramatically with thunder...,the tempest,1000,0.000000,0.666667,1,1
1940,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$1000,In 1927 this brand name first appeared on a Se...,Kenmore,in 1927 this brand name first appeared on a se...,kenmore,1000,0.000000,1.000000,1,1
1941,6294,2012-01-19,Jeopardy!,NURSERY RHYMES,$1000,"""Here we go round"" this bush ""on a cold and fr...",the mulberry bush,here we go round this bush on a cold and frost...,the mulberry bush,1000,0.500000,0.500000,1,1
1942,6294,2012-01-19,Jeopardy!,INLETS,$1000,North Carolina's Albemarle Sound is no deeper ...,the Outer Banks,north carolinas albemarle sound is no deeper t...,the outer banks,1000,0.000000,0.833333,1,1
1943,6294,2012-01-19,Jeopardy!,"THE EVOLUTION OF ""M""USIC",$1000,"In the 2000s ""Makes Me Wonder"" got this group ...",Maroon 5,in the 2000s makes me wonder got this group no...,maroon 5,1000,0.000000,1.000000,1,1
1932,6294,2012-01-19,Jeopardy!,FOREIGN,$600,"If Popeye spoke Hebrew he'd ask for tered, this",spinach,if popeye spoke hebrew hed ask for tered this,spinach,600,0.000000,1.000000,0,0
1944,6294,2012-01-19,Jeopardy!,FOREIGN,$1000,"In German, berg is this topographical feature ...",a mountain,in german berg is this topographical feature o...,a mountain,1000,0.500000,0.666667,1,1
1946,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$400,"If you can't stand the heat, there's always th...",steak tartare,if you cant stand the heat theres always this ...,steak tartare,400,0.000000,0.833333,0,0
1947,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$400,The British A22 Mark IV tank carried a 75-mill...,Churchill,the british a22 mark iv tank carried a 75milli...,churchill,400,0.000000,0.750000,0,0
1948,6294,2012-01-19,Double Jeopardy!,THE LIVING PLANET,$400,"Able to lift 850 times its own weight, the str...",beetle,able to lift 850 times its own weight the stro...,beetle,400,0.000000,0.800000,0,0
1949,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$400,Blair Underwood as President Elias Martinez,The Event,blair underwood as president elias martinez,the event,400,0.000000,1.000000,0,0
1950,6294,2012-01-19,Double Jeopardy!,4 N,$400,"Number of ""beers on the wall"" at the beginning...",ninety-nine,number of beers on the wall at the beginning o...,ninetynine,400,0.000000,1.000000,0,0
1951,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$800,In 1951 he told a joint session of congress th...,(Douglas) McArthur,in 1951 he told a joint session of congress th...,douglas mcarthur,800,0.000000,1.000000,0,0
1952,6294,2012-01-19,Double Jeopardy!,WHAT'S YOUR BEEF?,$800,A New England boiled dinner is traditionally m...,corned beef,a new england boiled dinner is traditionally m...,corned beef,800,0.000000,1.000000,0,0
1953,6294,2012-01-19,Double Jeopardy!,WEAPONS OF WORLD WAR II,$800,"Ships in the U.S. Navy's Casablanca class of ""...",aircraft carriers,ships in the us navys casablanca class of esco...,aircraft carriers,800,0.000000,1.000000,0,0
1954,6294,2012-01-19,Double Jeopardy!,ACTING PRESIDENTS ON TV,$800,Dennis Haysbert & D.B. Woodside as David & Way...,24,dennis haysbert db woodside as david wayne pal...,24,800,0.000000,0.600000,0,0
1955,6294,2012-01-19,Double Jeopardy!,4 N,$800,"""U"" know it means not deliberate; I'm sorry, t...",unintentional,u know it means not deliberate im sorry that s...,unintentional,800,0.000000,1.000000,0,0
1945,6294,2012-01-19,Double Jeopardy!,AMERICAN HISTORY,$400,In December 1974 this former New York governor...,Rockefeller,in december 1974 this former new york governor...,rockefeller,400,0.000000,1.000000,0,0
1922,6294,2012-01-19,Jeopardy!,THAT'S BUSINESS,$400,In 1997 Tyco International moved to this U.K. ...,Bermuda,in 1997 tyco international moved to this uk te...,bermuda,400,0.000000,1.000000,0,0

In [133]:
# write a boolean test to compare the two columns
test = jeopardy['high_value']==jeopardy['high_value2']

In [134]:
# check the values of the test between the two columns.  The test passed
test.value_counts()

True    19999
dtype: int64

In [135]:
# Investigate the breakdown of high versus low value questions
jeopardy['high_value2'].value_counts()

0    14265
1     5734
Name: high_value2, dtype: int64

Create a function that takes in a word, and:
* Assigns 0 to low_count.
* Assigns 0 to high_count.
* Loops through each row in jeopardy using the iterrows method.
* Split the clean_question column on the space character ().
* If the word is in the split question:
* If the high_value column is 1, add 1 to high_count.
* Else, add 1 to low_count.
* Returns high_count and low_count. You can return multiple values by separating them with a comma.

In [136]:
def count_usage(term):
    low_count = 0
    high_count = 0
    for i, row in jeopardy.iterrows():
        if term in row["clean_question"].split(" "):
            if row["high_value"] == 1:
                high_count += 1
            else:
                low_count += 1
    return high_count, low_count

* Randomly pick ten elements of terms_used and append them to a list * called comparison_terms.
* Create an empty list called observed_expected.
* Loop through each term in comparison_terms, and:
* Run the function on the term to get the high value and low value counts.
* Append the result of running the function (which will be a list) to observed_expected.

In [137]:
from random import choice

terms_used_list = list(terms_used)
comparison_terms = [choice(terms_used_list) for _ in range(10)]

observed_expected = []

for term in comparison_terms:
    observed_expected.append(count_usage(term))

observed_expected

[(0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 2),
 (0, 1),
 (0, 1),
 (1, 2),
 (1, 3)]

In [138]:
from scipy.stats import chisquare
import numpy as np

high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_expected:
    total = sum(obs)
    total_prop = total / jeopardy.shape[0]
    high_value_exp = total_prop * high_value_count
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=2.487792117195675, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.803925692253768, pvalue=0.3699222378079571),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.401962846126884, pvalue=0.5260772985705469),
 Power_divergenceResult(statistic=0.03188116723440362, pvalue=0.8582887163235293),
 Power_divergenceResult(statistic=0.02636443308440769, pvalue=0.871013484688921)]

## Chi-squared results
None of the terms had a significant difference in usage between high value and low value rows. Additionally, the frequencies were all lower than 5, so the chi-squared test isn't as valid. It would be better to run this test with only terms that have higher frequencies.